<div class="container-fluid">
    <div class="container">
        <p class="h1 title" align="center">Wypożyczalnia samochodów luksusowych </p>
    </div>
    <div class="container nav">
        <a [routerLink]="['customer']" class="btn btn-success">Klienci</a>
        <a [routerLink]="['car']" class="btn btn-success">Samochody</a>
        <a [routerLink]="['rentedCar']" class="btn btn-success">Wypożyczone</a>
    </div>
    <section>
        <div class="row">
            <router-outlet></router-outlet>
        </div>
    </section>

</div>
