<div class="container-fluid">
<p></p>
    <p>Wypełnij dane aby dodać nowego klienta</p>
        <input name="carToAdd.mark" [(ngModel)]="carToAdd.mark" placeholder="Mark"><br/><br/>
        <input name="carToAdd.model" [(ngModel)]="carToAdd.model" placeholder="Model"><br/><br/>
        <input name="carToAdd.rate" [(ngModel)]="carToAdd.rate" placeholder="Rate"><br/><br/>
        <input name="carToAdd.price" [(ngModel)]="carToAdd.price"  placeholder="Price"><br/><br/>
        <button [routerLink]="['/customer']" type="submit" (click)="createCar(carToAdd)">Dodaj</button>
</div>

