<div class="container-fluid">

    <h2>Samochody</h2>
    <table class="table  table-striped table-condensed">
        <thead class="thead-inverse">
        <tr >
            <th>Id</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Klasa</th>
            <th> Cena (za 1h)</th>
            <th> Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let message of messages">
            <td>{{message.id}}</td>
            <td>{{message.mark}}</td>
            <td>{{message.model}}</td>
            <td>{{message.rate}}</td>
            <td>{{message.price}}</td>
            <td *ngIf="!message.isRented"><a [routerLink]="['/rental', message.id ]" class="btn btn-success">Wynajmij</a></td>
            <td *ngIf="message.isRented">Wynajęty</td>
        </tr>
        </tbody>
    </table>
</div>

