<div class="container-fluid">

    <h2>Akutualne wypożyczone samochody </h2>
    <table class="table  table-striped table-condensed">
        <thead class="thead-inverse">
        <tr >
            <th>Id</th>
            <th>Id samochodu</th>
            <th>Id klienta</th>
            <th>Data wypożyczenia</th>
            <th>Ilość godzin</th>
            <th>  </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let message of messages">
            <td>{{message.id}}</td>
            <td>{{message.idCar}}</td>
            <td>{{message.idCustomer}}</td>
            <td>{{message.rentalDate}}</td>
            <td>{{message.timeRent}}</td>
            <td><a class="btn btn-success" (click)="returnCar(message.idCar, message.id)">Oddaj</a></td>
        </tr>
        </tbody>
    </table>
</div>

